  .profile-section {
    background-color: rgb(243, 246, 240);
    max-width: 420px;
    margin: 10px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-user-info {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .name-div {
    align-items: center;
  }
  
  .profile-text {
    display: flex;
    flex-direction: column;
    padding: 2px;
    align-items: center;
    width: 320px;
  }
  
  .profilepic {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 2px 2px 5px 3px rgba(0,0,0,0.19);
    -webkit-box-shadow: 2px 2px 5px 3px rgba(5, 55, 11, 0.19);
    -moz-box-shadow: 2px 2px 5px 3px rgba(0,0,0,0.19);
    border: 3px solid #446173;
  }

  .profile-info h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #446173;
  }

  .profile-info h2 span {
    font-family:'Courier New', Courier, monospace;
  }
  
  .profile-info p {
    font-size: 20px;
    padding: 2px;
    text-align: center;
    color: grey;
  }

  .profile-text a {
    margin-top: 10px;
  }

  .profile-name {
    margin-bottom: 10px;
  }
  
  p span {
    color: black;
  }

  .profile-section > Button {
    justify-content: flex-end;
  }

  .profile-section .button-container {
    align-self: flex-end;
  }  

  @media (min-width: 550px) {
    .profile-section {
      background-color: rgb(243, 246, 240);
      margin: 10px auto;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: space-between;
      align-items: center;
      border-radius: 6px;
      width: 85%;
      max-width: 720px;
    }

    .profile-info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .profile-info h2 {
      font-size: 32px;
      margin-bottom: 10px;
      color: #446173;
      margin-top: 20px;
    }

    .profile-user-info {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
    }

    .user-container {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: row;
      margin-top: 20px;
    }

    .profilepic {
      max-width: 130px;
      max-height: 130px;
      border-radius: 50%;
      margin: 10px;
      box-shadow: 2px 2px 5px 3px rgba(0,0,0,0.19);
      -webkit-box-shadow: 2px 2px 5px 3px rgba(5, 55, 11, 0.19);
      -moz-box-shadow: 2px 2px 5px 3px rgba(0,0,0,0.19);
      border: 3px solid #446173;
    }

    .profile-text {
      align-items: flex-start;
      margin-left: 16%;
    }

    .profile-name p {
      text-align: left;
      font-size: 20px;
    }

    .profile-aboutme p {
      text-align: left;
      font-size: 20px;
    }
  
  }