

.card-preview-img-explore {
    height: 50%;
    width: 100%;
}

.place-photo {
    min-width: 300px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Styles ofr tablet */
@media (min-width: 668px) {

    .place-photo {
        min-width: 170px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* Styles for desktop*/
@media (min-width: 1025px) {

    .place-photo {
        min-width: 170px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}