.formbox h2 {
    text-align: center;
    color: #446173;
    font-size: 44px;
    margin-bottom: 20px;
    margin-top: 15px;
    font-family: 'Josefin Sans', sans-serif;

}

.formbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-wrapper {
    display: flex;
    
}

.main-loginregister {
    background-color: #ffffffd1;
    margin: 50px auto;
    padding: 10px;
    border-radius: 6px;
    min-height: 350px;
    width: 100%;
    max-width: 450px;
}
