.empty-container-explore {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-container-explore h3 {
    margin: 20px;
    max-width: 300px;
    text-align: center;
    font-weight: 600;
    color: #223642;
}