
.header {
  background-color: transparent;
  max-width: 100%;
  min-height: 100px;
  margin: auto;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-link {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

 .header img {
   width: 260px;
   margin-top: 15px;
 }

  .header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
  }

  .hamburger-menu {
    position: relative;
  }

  .hamburger-open {
    padding: 16px;
    width: 120px;
    margin-right: 30px;
    background-color: rgb(40, 56, 83);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 100%;
    right: -50%;
    border-radius: 8px;
    z-index: 999;
  }

.MenuBtn {
    font-size: 18px;
    border: none;
    color: white;
    background-color: transparent;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.MenuBtn:hover {
    text-decoration: underline;
}

@media (max-width: 374px) {
  /*Styles för small mobile*/

  .header {
    background-color: transparent;
    max-width: 100%;
    min-height: 100px;
    margin: auto;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger-open {
    margin-right: 15px;
  }
  
}



@media (min-width: 550px) {
  /* Styles for tablet view */
  
  .header {
    flex-direction: row;
  }

  .header img {
    width: 400px;
  }

  .hamburger-open {
    padding: 16px;
    width: 120px;
    align-items: flex-end;
    top: 100%;
    right: 0;
    margin-right: 0;
  }

}

@media (min-width: 750px) {
  .header img {
    width: 400px;
  }
}

@media (min-width: 1025px) {
  /* Styles for desktop view */

}
