
.header {
  background-color: transparent;
  max-width: 100%;
  min-height: 100px;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
    color: white;
    font-size: 52px;
    font-weight: 900;
  }

  .header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
  }

  .hamburger-open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 12px;
  }

.MenuBtn {
    border: none;
    color: white;
    background-color: transparent;
    font-weight: 700;
}

.MenuBtn:hover {
    text-decoration: underline;
}


/*

.hamburger-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.hamburger-menu__button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.hamburger-menu__icon {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #333;
  position: relative;
}

.hamburger-menu__icon::before,
.hamburger-menu__icon::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #333;
  position: absolute;
  transition: transform 0.3s ease;
}

.hamburger-menu__icon::before {
  top: -8px;
}

.hamburger-menu__icon::after {
  top: 8px;
}

.hamburger-menu__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.hamburger-menu__list.open {
  max-height: 200px;
}

.hamburger-menu__item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.hamburger-menu__item:last-child {
  border-bottom: none;
}

*/