body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  background-color: #bcc1eb;
  max-width: 800px;
  min-height: 100px;
  margin: auto;
  padding: 20px;
}

.main {
  background-color: #bcebd0;
  max-width: 800px;
  min-height: 200px;
  margin: auto;
  padding: 20px;
}

.profile-section {
  background-color: #e3ecab;
  margin: auto;
  padding: 10px;
}

.trip-section {
  background-color: #f8bed6;
  margin: auto;
  padding: 10px;
}

.trip-wrapper {
  border: 1px solid white;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.trip {
  background-color: #bef4f8;
  margin: auto;
  max-width: 300px;
  max-height: 300px;
  padding: 10px;
}


button {
  margin-right: 5px;
  margin-top: 5px;
  padding: 8px;
}

input {
  margin-right: 5px;
  padding: 8px;
}