* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



.OuterWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.InnerWrapper {
  width: 80%;
  margin: 0 auto;
}



@media (min-width: 667px) {}


@media (min-width: 1025px) {

  .InnerWrapper {
    max-width: 600px;
  }
  
}



/*
.header {
  background-color: #bcc1eb;
  max-width: 800px;
  min-height: 100px;
  margin: auto;
  padding: 20px;
}

.main {
  background-color: #bcebd0;
  max-width: 800px;
  min-height: 200px;
  margin: auto;
  padding: 20px;
}

.profile-section {
  background-color: #e3ecab;
  margin: 10px auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.profile-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;

}

.profile-text {
  background-color: #e3ecab;
}



.trip-section {
  background-color: #f8bed6;
  margin: auto;
  padding: 10px;
}

.trip-wrapper {
  border: 1px solid white;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.trip {
  background-color: #bef4f8;
  margin: auto;
  max-width: 300px;
  max-height: 300px;
  padding: 10px;
}

.places {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.single-place {
  border: 1px solid hotpink;
  padding: 20px;
  margin: 10px;
  max-width: 250px;
}

.place-photo {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}

.place-icon {
  max-width: 50px;
  max-height: 50px;
  margin: 10px;
}

.card {
  background-color: #fff;
}

.placeholder {
  background-color: #bcebd0;
}

.profilepic {
  max-width: 100px;
  max-height: 100px;
}

.profile-info p:first-child {
  font-weight: bold;
  font-size: 22px;
  margin: 10px 0;
}

.profile-info p {
  margin: 7px 0;
}

p span {
  color: blue;
}

.filterbtn {
  font-size: 12px;
  background-color: #a2fcf7;
  border: 1px solid #969696;
}

.tiny {
  font-size: 12px;
  font-style: italic;
}

.active {
  color: hotpink;
}

button {
  margin: 5px;
  padding: 8px;
}

input {
  margin-right: 5px;
  padding: 8px;
}

*/